<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="database/dataSource.xml" />
    <import resource="database/hibernate.xml" />

    <bean id="leaveController" class="api.web.LeaveController">
        <property name="leaveDao" ref="leaveDao" />
    </bean>

    <bean id="poemDao" class="thoughtworks.dao.PoemDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


</beans>