<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="database/dataSource.xml"/>
    <import resource="database/hibernate.xml"/>

    <!-- Make sure annotation mapping handler works-->
    <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
    <bean id="handlerAdapter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>

    <bean id="sentenceController" class="thoughtworks.web.SentenceController">
        <property name="sentenceDao" ref="sentenceDao"/>
    </bean>

    <bean id="poemDao" class="thoughtworks.dao.PoemDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="sentenceDao" class="thoughtworks.dao.SentenceDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>
